<!--<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  
    <div class="form-group">
      <label for="correo">Correo electrónico</label>
      <input type="email" class="form-control" id="correo" formControlName="correo">
    </div>
  
    <div class="form-group">
      <label for="contrasenia">Contraseña</label>
      <input type="password" class="form-control" id="contrasenia" formControlName="contrasenia">
    </div>
  
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
  </form>-->

  
  <div class="loginmallor">
    <div id="contenedor">
        <div id="contenedorcentrado">
            <div id="login">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
                  <label for="correo">Correo electrónico</label>
                    <input id="correo" type="email" class="form-control" formControlName="correo" placeholder="Correo" required>
                    <label for="contrasenia">Contraseña</label>
                    <input id="contrasenia" type="password" class="form-control" formControlName="contrasenia" placeholder="Contraseña" required>
                    <input type="submit" class="btn btn-primary" value="Entrar" name="btningresar">
                    <br>
                </form>
            </div>
            <div id="derecho">
                <div class="titulo">Bienvenido a IsamaStreaming Plus</div>
                <hr>
                <div class="pie-form">
                    <a routerLink="#">¿Perdiste tu contraseña?</a>
                    <a routerLink="sigup">¿No tienes Cuenta? Registrate</a>
                    <a routerLink="change-password">¿olvidaste tu password?</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
  </div>

  