<app-nav></app-nav>

<div class="back">
  <div class="container-Peliculas lista-peliculas">
    <h1>Peliculas</h1>
    <div class="peliculas-container">
      <div *ngFor="let pelicula of peliculas" class="col pelicula">
        <a [routerLink]="['/MI', pelicula.Titulo]"> <!-- Usar el título en lugar del _id -->
          <img [src]="pelicula.portada" alt="{{ pelicula.Titulo }}">
          <div class="pelicula-info">
            <h3>{{ pelicula.Titulo }}</h3>
            <p>{{ pelicula.CalificacionRT }}</p>
            <button [routerLink]="['/MI', pelicula.Titulo]">Ver información completa</button>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-Peliculas lista-peliculas">
  <h1>Series</h1>
  <div class="peliculas-container">
    <div *ngFor="let serie of series" class="col pelicula">
      <a [routerLink]="['/MS', serie.titulo]">
        <img [src]="serie.portada" alt="{{ serie.titulo }}">
        <div class="pelicula-info">
          <h3>{{ serie.titulo }}</h3>
          <p>{{serie.rottenTomatoes}}</p>
          <button [routerLink]="['/MS', serie.titulo]">Ver información completa</button>
        </div>
      </a>
    </div>
  </div>
</div>

<app-footer></app-footer>
