* {
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    
}

#contenedor[_ngcontent-ng-c665723133]{

 background: rgb(187,4,214);
background: linear-gradient(24deg, rgba(187,4,214,1) 0%, rgba(124,39,167,1) 13%, rgba(124,6,173,1) 23%, rgba(50,12,167,1) 43%, rgba(16,41,138,1) 53%, rgba(5,48,116,1) 66%, rgba(21,90,117,1) 78%, rgba(0,154,255,1) 100%);
}

#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    
    
    background-position: center;
    background-size: cover;
}

/* contenedor del login a la izquierda */
#contenedorcentrado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    
    min-width: 380px;
    max-width: 900px;
    width: 90%;
    
    background-color: #ffff;
    
    /*opacity: 0.50;
    filter: alpha(opacity=50);*/
    
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    padding: 30px;
    box-sizing: border-box;
}

/*este es el cuadro de registro*/


/*color del REGISTRATE*/
h1 {
    text-align: center;
    color: #f6f6f6;
    font-size: 45px;
    border-radius: 5px;
    top: auto;
    background: #080808;
    width: 100%;
    height: 55px;

}

input[type="text"],
input[type="password"] {
    
    font-size: 20px;
    width: 80%;
    padding: 4px;
    border: none;
}

input[type="email"],
input[type="password"] {
    
    font-size: 20px;
    width: 80%;
    padding: 4px;
    border: none;
}

/*este es el marjen donde esta la contra y el correo*/
.input-contenedor {
    margin-bottom: 15px;
}

.icon {
    min-width: 30px;
    text-align: center;
    color: #303030;
   
}

.button {
    border: none;
    width: 99%;
    color: white;
    font-size: 15px;
    background: #080808;
    padding: 16px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: #f6f6f6;
    color: black;
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #87cb42;
    font-weight: 600;
}

.link:hover {
    color: rgba(224, 228, 13, 0.912);
}

@media(min-width:768px) {
    .formulario {
        margin: auto;
        width: 500px;
        text-decoration: none;
        border-radius: 2%;

    }
}

#inicioboton{
    text-decoration: none;
    color: #292928;
}



