
<footer>
    <div class="footer-container">
        <div class="footer-content">
            <h3>Contact Us</h3>
            <p>IssmaStreamingArrovaStreaming.com.mx</p>
            <p>Phone:+52 495-484-9587</p>
            <p>Direccion: Enrique Segovianos</p>
        </div>
        <div class="footer-content">
            <h3>Quick Links</h3>
             <ul class="list">
                <li><a href="">Inicio</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Servivcios</a></li>
                <li><a href="">Peliculas</a></li>
                <li><a href="">Contacto</a></li>
             </ul>
        </div>
        <div class="footer-content">
            <h3>Follow Us</h3>
            <ul class="social-icons">
             <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"><img src="\assets\redes_img\facebook.png" alt="facebook" width="50px"></i></a></li>
             <li><a href=""><i class="fab fa-twitter"></i><img src="\assets\redes_img\twitter.png" alt="twitter" width="50px"></a></li>
             <li><a href=""><i class="fab fa-instagram"><img src="\assets\redes_img\instagram.png" alt="instagram" width="50px"></i></a></li>
             <li><a href=""><i class="fab fa-linkedin"></i></a></li>
            </ul>
            </div>
    </div>
    <div class="bottom-bar">
        <p>&copy; 2023 your company . All rights reserved</p>
    </div>
    </footer>